@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Note that the commas between channels are paramount to be able to use the
 * opacity modifier
 * cf https://tailwindcss.com/docs/background-color#changing-the-opacity
*/
:root {
	--foreground-rgb: 70, 70, 70;
	--foreground-highlight-rgb: 0, 0, 0;
	--background-rgb: 245, 245, 245;
	--background-highlight-rgb: 255, 255, 255;
	--primary-rgb: 17, 94, 89;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 200, 200, 200;
		--foreground-highlight-rgb: 255, 255, 255;
		--background-rgb: 19, 21, 22;
		--background-highlight-rgb: 24, 26, 27;
		--primary-rgb: 26, 146, 138;
	}
}

html {
	scrollbar-width: none;					/* Firefox */
}

body {
	color: rgb(var(--foreground-rgb));
	background: rgb(var(--background-rgb));
	overflow-wrap: break-word; /* protects against overflow with very long words */
}

body::-webkit-scrollbar {
	display: none;							/* Opera, Chrome, and Safari */
}

a.touchable {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 48px;
	min-height: 48px;
}

.hideScrollBars {
	-ms-overflow-style: none;				/* IE */
	scrollbar-width: none;					/* Firefox */
	&::-webkit-scrollbar {display: none;}	/* Opera, Chrome, and Safari */
}

summary::-webkit-details-marker {
	display: none;
}

@keyframes fromTop {
	from {
		transform: translateY(-1%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fromBottom {
	from {
		transform: translateY(1%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fromLeft {
	from {
		transform: translateX(-10%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
